@model List<n01519708_assignment3_w2022.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<nav style="margin-bottom:20px;">
    <a class="navlink" href="/Teacher/New">New Teacher</a>
</nav>

<div id="teacherListContainer">
    <form style="margin-bottom:20px;" class="form-inline" action="/Teacher/List" method="GET">
        <div class="form-group">
            <input type="text" class="form-control" name="searchText" autocomplete="off" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <h3>List of Teachers</h3>
    <ul class="list-group">
        @foreach (n01519708_assignment3_w2022.Models.Teacher teacher in Model)
        {
            <li class="list-group-item list-group-item-action"><a href="/Teacher/show/@teacher.TeacherId">@teacher.FirstName @teacher.LastName</a></li>
        }
    </ul>
</div>

